################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tasks/bin/Debug/net8.0
/Tasks/obj
